<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="findByName" method="post">
        <input type="text" name="userName">
        <input type="submit">
    </form>
    <table border="1">
        <tr>
            <td colspan="4">
                <a th:href="@{new}" th:text="新增"></a>
            </td>
        </tr>
        <tr>
            <td>编号</td>
            <td>姓名</td>
            <td>生日</td>
            <td>性别</td>
            <td>其他</td>
        </tr>
        <tr th:each="u:${users}">
            <td th:text="${u[id]}"></td>
            <td th:text="${u[userName]}"></td>
            <td th:text="${u[birthday]}"></td>
            <td th:if="${u[gender]} eq 1">男</td>
            <td th:if="${u[gender]} eq 2">女</td>
            <td>
                <a href="#" class="delete" th:attr="did=${u[id]}">操作（删除）</a>
                <a th:href="@{get/}+${u.id}" th:attr="did=${u[id]}">操作（修改）</a>
            </td>
        </tr>


    </table>
</body>
</html>

<script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js}"></script>
<script th:line="javascript">
    $(function(){
        $(".delete").click(function(){
            var o = $(this);
            var id = o.attr("did");
            $.ajax({
                url:"delete/"+id,
                dataType:"json",
                success:function(ok){
                    if(ok>0){
                        o.parent().parent().remove();
                    }else{
                        alert("删除失败");
                    }
                }
            })
        })
    })

</script>